@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display&display=swap");
:root {
  --primary: hsl(31, 77%, 52%);
  --secondary: hsl(184, 100%, 22%);
  --tertiary: hsl(179, 100%, 13%);
  --text-primary: hsla(0, 0%, 100%, 0.75);
  --text-secondary: hsl(0, 0%, 95%);
}
html {
  font-size: 100%;
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  font-size: 15px;
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
}
.container {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center; /*This centers the wrapper*/
  padding: 1.25rem;
}

.wrapper {
  border-radius: 10px;
  border: 1px solid var(--text-primary);
  overflow: hidden;
}
.card {
  width: 20.4375rem;
  height: 27.625rem;
}
.card:nth-child(1) {
  background-color: var(--primary);
}
.card:nth-child(2) {
  background-color: var(--secondary);
}
.card:last-child {
  background-color: var(--tertiary);
}
.card-content {
  padding-left: 3.125rem;
  padding-right: 3rem;
  height: 100%;
  flex-wrap: wrap;
}
.logo {
  margin-top: 3rem;
  margin-bottom: 1.5rem;
}
h1 {
  font-family: "Big Shoulders Display", cursive;
  font-weight: 700;
  font-size: 2.125rem;
  line-height: 1.5rem;
  color: var(--text-secondary);
}
.description {
  margin-top: 2.5rem;
  margin-bottom: 1.625rem;
  line-height: 1.5rem;
  width: 14.375rem;
  color: var(--text-primary);
}
.button {
  text-decoration: none;
  background-color: var(--text-secondary);
  display: inline-block;
  font-size: inherit;
  padding: 0.8rem 2rem;
  border: 2px solid var(--text-secondary);
  border-radius: 2rem;
}
#button1 {
  color: var(--primary);
}
#button2 {
  color: var(--secondary);
}
#button3 {
  color: var(--tertiary);
}
.button:hover {
  color: var(--text-secondary) !important;
  background-color: inherit;
  transition: 200ms ease-in-out;
}
@media screen and (min-width: 768px) {
  .wrapper {
    display: flex;
    flex-flow: row wrap;
  }
  .card {
    width: 19.1875rem;
    height: 31.25rem;
  }
  .container {
    margin-top: 10rem;
  }
  .description {
    margin-bottom: 5.5rem;
    width: 100%;
  }
}
